* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgba(201, 209, 247, 0.568);
}


.header{
    height: 10vh;
    background-color: rgb(3, 3, 56);
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    font-size: 2vh;
    color: white;
    display: none;
}

.footer{
    height: 6vh;
    background-color: rgb(3, 3, 56);
    margin-top: 2vh;
    display: none;
}

.noUsers{
  width: 100vw;
  display: flex;
  justify-content: center;
  color: rgb(3, 3, 56);
}

.description{
    padding-left: 1vw;
    padding-right: 1vw;
    color: rgb(95, 94, 94);
}

.failedPageLoad{
    width: 100vw;
    height: 100vh;
    display: none;
    color: red;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.loaderLogo{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
    font-size: 1.8vh;
    font-weight: bold;
}
.user{
    width: 30vw;
    background-color: white;
    border-radius: 20px;
}

.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.userFullName{
    display: flex;
    flex-direction: row;
    background-color: rgba(3, 3, 56, 0.795);
    color: white;
    justify-content: center;
    gap: 0.5vw;
    border-bottom: 1px solid rgba(185, 184, 184, 0.815);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(3, 3, 56);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


@media screen and (max-width: 1200px){
  .users{
    flex-direction: column;
  }
  .user{
    width: 98vw;
  }
  .userFullName{
    gap: 3vw;
  }
}
  

